"$schema" = 'https://starship.rs/config-schema.json'

command_timeout = 500
add_newline = false

[username]
disabled = true

# [directory]
# style = "bg:#DA627D"
# format = "[ $path ]($style)"
# truncation_length = 3
# truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[time]
disabled = true

[cmd_duration]
show_milliseconds = true
min_time = 0

[status]
disabled = false
pipestatus = true
symbol = " "
map_symbol = true

[os]
disabled = true
symbols.Arch = " "
