[Unit]
Description=Prune Nix generations older than 14 days
RequiresMountsFor=/nix

[Service]
Type=oneshot
ExecStart=/usr/bin/nix-collect-garbage --delete-older-than 14d
