{
	admin unix//{$XDG_RUNTIME_DIR}/caddy/admin.socket
	auto_https disable_redirects
	skip_install_trust
	servers {
		listener_wrappers {
			http_redirect
			tls
		}
	}
}

https://mirsella.mooo.com:4096 {
	tls {
		issuer acme https://acme-v02.api.letsencrypt.org/directory {
			disable_http_challenge
			alt_tlsalpn_port 8443
		}
	}

	reverse_proxy 127.0.0.1:14096 {
		flush_interval -1
		transport http {
			read_timeout 3600s
			write_timeout 3600s
		}
	}
}

https://mirsella.mooo.com:4097 {
	tls {
		issuer acme https://acme-v02.api.letsencrypt.org/directory {
			disable_http_challenge
			alt_tlsalpn_port 8443
		}
	}

	reverse_proxy 127.0.0.1:14097 {
		flush_interval -1
		transport http {
			read_timeout 3600s
			write_timeout 3600s
		}
	}
}
