[user]
	name = mirsella
	email = mirsella@protonmail.com
	signinKey = {{ dig .chezmoi.hostname "" .signinKey }}
[init]
	defaultBranch = main
[pull]
	rebase = true
[commit]
  gpgsign = {{ if dig .chezmoi.hostname "" .signinKey }}true{{ else }}false{{ end }}
