[Unit]
Description=launch webssh
After=network.target

[Service]
Type=simple
User=mirsella
# ExecStartPre=/hdd/dev/bin/waitfornetwork
ExecStart=/home/mirsella/.local/bin/wssh --sslport=4460 --ssladdress='0.0.0.0' --certfile='/etc/letsencrypt/live/mirsella.mooo.com/fullchain.pem' --keyfile='/etc/letsencrypt/live/mirsella.mooo.com/privkey.pem'
Restart=always

[Install]
WantedBy=multi-user.target