[Desktop Entry]
Name=Open in tldraw (web)
Exec=/home/mirsella/.local/bin/open-in-tldraw.sh %F
Icon=image-x-generic
Type=Application
MimeType=image/png;image/jpeg;image/webp;
NoDisplay=false
