[profile]
incremental = true

[profile.dev]
codegen-backend = "cranelift"

[profile.dev.package."*"]
codegen-backend = "llvm"

[profile.test.package."*"]
codegen-backend = "llvm"

[profile.release]
codegen-backend = "llvm"

[profile.web]
codegen-backend = "llvm"

[profile.web-release]
codegen-backend = "llvm"


[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = [
  # "-Clink-arg=-fuse-ld=lld",
  # "-Clink-arg=-fuse-ld=mold",
  "-Clink-arg=--ld-path=wild", # not compatible with dioxus hot reload
  # Nightly
  "-Zshare-generics=y",
  "-Zthreads=8",
]

[target.wasm32-unknown-unknown]
rustflags = [
  "--cfg=web_sys_unstable_apis",
  # Nightly
  "-Zshare-generics=y",
  "-Zthreads=8",
]

[package.metadata.bevy_cli.web]
wasm-opt = [
  "-Oz",
  "--enable-threads",
  "--enable-bulk-memory",
  "--enable-nontrapping-float-to-int",
  "--enable-mutable-globals",
]
