[Unit]
Description=Caddy web server
Documentation=https://caddyserver.com/docs/
After=network-online.target opencode.service openchamber.service
Wants=network-online.target opencode.service openchamber.service
StartLimitIntervalSec=14400
StartLimitBurst=10

[Service]
Type=notify
Environment=XDG_DATA_HOME=%h/.local/share
RuntimeDirectory=caddy
ExecStartPre=/usr/bin/caddy validate --config %h/.config/caddy/Caddyfile
ExecStart=/usr/bin/caddy run --config %h/.config/caddy/Caddyfile
ExecReload=/usr/bin/caddy reload --address unix//%t/caddy/admin.socket --config %h/.config/caddy/Caddyfile --force
ExecStopPost=/usr/bin/rm -f %t/caddy/admin.socket
Restart=on-abnormal
TimeoutStopSec=5s
LimitNOFILE=1048576

NoNewPrivileges=true
UMask=0077

[Install]
WantedBy=default.target
