[Unit]
Description=Language server multiplexer server
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Type=simple
ExecStart=%h/.local/share/cargo/bin/lspmux server
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
