[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/png;image/jpeg;image/webp;
Actions=openInTldraw;
X-KDE-Priority=TopLevel

[Desktop Action openInTldraw]
Name=Open in tldraw (web)
Icon=image-x-generic
Exec=/home/mirsella/.local/bin/open-in-tldraw.sh %F
