[Unit]
Description=launch novnc

[Service]
Type=simple
User=mirsella
ExecStart=/hdd/www/novnc/utils/launch.sh --vnc 192.168.1.131:5900 --listen 4460 --ssl-only --cert /etc/letsencrypt/live/mirsella.mooo.com/cert.pem --key /etc/letsencrypt/live/mirsella.mooo.com/privkey.pem
Restart=always

[Timer]
OnBootSec=1min

[Install]
WantedBy=multi-user.target
