[Unit]
Description=mount google drive with rclone 
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=simple
User=mirsella
ExecStartPre=-/bin/rm -rf ${HOME}/Documents/gdrive
ExecStartPre=-mkdir -p ${HOME}/Documents/gdrive
ExecStart=rclone mount --vfs-cache-mode full gdrive: ${HOME}/Documents/gdrive
ExecStop=/bin/fusermount -u ${HOME}/Documents/gdrive
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
