[Unit]
Description=requestbin.com log
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStartPre=/hdd/dev/bin/waitfornetwork
ExecStart=sh /hdd/dev/bin/requestbin
Restart=always
RestartSec=900s

[Install]
WantedBy=multi-user.target
