[Unit]
Description=requestbin.com log
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=sh /hdd/dev/bin/requestbin
Restart=always
RestartSec=1800s

[Install]
WantedBy=multi-user.target
