[Unit]
Description=requestbin.com log
After=hdd.mount network-online.target

[Service]
Type=exec
User=mirsella
# ExecStartPre=/hdd/dev/bin/waitfornetwork
ExecStart=sh /hdd/dev/bin/requestbin
Restart=always
RestartSec=900s

[Install]
WantedBy=multi-user.target
