[Unit]
Description=Apply RyzenAdj laptop limits
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/modprobe ryzen_smu
ExecStart=/home/mirsella/.local/bin/ryzenadj-laptop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
